@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,1000;1,500;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/*----paletas de colores-----*/
/*-------Listas-------*/
/*-------Operaciones--------*/
/*----------Mapas----------*/
/*--Key(nombre referencial,value(valor esa propiedad)---*/
/*------Extends-- (% = PlaceHolders) ---*/
.hero, .bienvenidos, .productos .productos-card h3, .contacto, .unir .contactanos .grilla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*-----Mixins-----*/
/*------Condicional--------*/
/*---OPERADORE DE COMPARACION---*/
/*   = (es asignacion)   */
/*  == (son igules)      */
/*  != (es diferente)    */
/*   > ( mayor que)      */
/*   < ( menor que)      */
/*   >= ( mayor o igual)  */
/*   <= ( menor o igual)  */
/*----Bucles------*/
/*------ scss en header------*/
.navbar {
  background: #900f0f;
  background: linear-gradient(133deg, #900f0f 30%, black 84%); }
  .navbar .container-fluid .navbar-toggler {
    color: white;
    background-color: white; }
    .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
      background-color: white; }
  .navbar .container-fluid .nav-link.active {
    color: white;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    margin-left: 15px;
    margin-right: 15px; }
  .navbar .container-fluid img {
    border-radius: 50%;
    height: 200px;
    width: 200px; }

/*------ scss en index-----*/
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.438)), url(../img/cafe-mano.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  font-style: italic;
  background-attachment: fixed; }
  .hero h1 {
    color: white;
    font-size: 52px;
    font-family: 'Nunito', sans-serif 700; }
  .hero h2 {
    margin: 25px;
    padding: 10px;
    font-size: 65px;
    color: white;
    border: white solid 2px;
    border-radius: 5px; }
  .hero p {
    font-size: 35px;
    margin-bottom: 25px;
    color: white; }
  .hero .boton {
    transition: 2s;
    color: white;
    background-color: black;
    padding: 10px; }
    .hero .boton:hover {
      transform: scale(1.2); }

.bienvenidos h2 {
  font-size: 50px;
  font-family: 'Nunito', sans-serif; }

.bienvenidos p {
  font-size: 25px;
  margin: 25px; }

.productos h2 {
  background-color: #900F0F;
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: 'Nunito', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px; }

.productos .productos-contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.productos .productos-card {
  width: 270px;
  height: 360px;
  border: 1px black solid;
  object-fit: cover;
  -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }
  .productos .productos-card img {
    width: 100%;
    height: 250px; }
  .productos .productos-card h3 {
    margin: 15px; }
  .productos .productos-card a {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 40px;
  width: 100%;
  height: 500px;
  position: relative; }
  .imagen div img {
    width: 400px;
    height: 500px;
    border: black solid 1px;
    border-radius: 10px; }
  .imagen div h3 {
    position: absolute;
    width: 400px;
    color: white;
    top: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
    margin-top: 25px;
    font-size: 40px; }
  .imagen p {
    height: 300px;
    margin: 40px;
    padding: 25px;
    font-size: 30px;
    text-align: center; }

.fixed {
  position: fixed;
  right: 45px;
  bottom: 100px; }

/*----- scss en elaboracion------*/
.guia-de-elaboración {
  text-align: center; }
  .guia-de-elaboración h1 {
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    background-color: #900F0F;
    color: white;
    padding: 15px;
    margin-top: 15px; }
  .guia-de-elaboración .enmarcado img {
    width: 340px;
    height: 340px;
    border: #900F0F solid 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }
  .guia-de-elaboración .enmarcado h3 {
    padding: 15px;
    font-size: 35px;
    font-family: 'Nunito', sans-serif; }
  .guia-de-elaboración .enmarcado p {
    background-color: #900F0F;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px; }
  .guia-de-elaboración .accordion .accordion-item {
    border: #900F0F solid 2px;
    border-radius: 5px;
    margin-bottom: 15px; }

/*----- scss en contacto------*/
.contacto h1 {
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: white;
  background-color: #900F0F;
  margin-top: 15px; }

.contacto .titulo img {
  width: 700px;
  height: 400px;
  border-radius: 5px;
  border: black solid 2px;
  margin-bottom: 20px;
  -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }

.contacto .titulo .horarios p {
  text-align: center;
  font-size: 30px; }

.contacto .titulo .horarios .dias {
  background-color: #900F0F;
  color: white;
  border: black solid 2px;
  border-radius: 5px;
  -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }

.unir {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .unir .contactanos {
    color: white;
    background-color: #900F0F;
    border: black solid 2px;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }
    .unir .contactanos h2 {
      text-align: center; }

.ubicacion {
  color: white;
  background-color: #900F0F;
  margin: 15px;
  padding: 25px;
  border: black solid 2px;
  border-radius: 5px;
  width: 450px;
  height: 507px;
  -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
  box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }
  .ubicacion h3 {
    color: white;
    font-size: 25px;
    font-family: 'Nunito', sans-serif; }

/*-----scss en galeria------*/
.grid-titulo {
  text-align: center;
  font-family: 'Nunito', sans-serif; }
  .grid-titulo h2 {
    font-size: 40px; }
  .grid-titulo p {
    font-size: 25px;
    color: white;
    background-color: #900F0F; }

.grid-container .grid-galeria {
  width: 96%;
  margin: 35px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 20px; }
  .grid-container .grid-galeria .grid-item:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out; }
  .grid-container .grid-galeria .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    background-color: #900F0F;
    -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
    box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }
  .grid-container .grid-galeria .item1 {
    grid-column: span 2;
    grid-row: span 2; }
  .grid-container .grid-galeria .item2 {
    grid-row: span 2; }
  .grid-container .grid-galeria .item8 {
    grid-row: span 2; }
  .grid-container .grid-galeria .item12 {
    grid-column: span 2;
    grid-row: span 2; }
  .grid-container .grid-galeria .item11 {
    grid-row: span 2; }

/*------scss en tienda-----*/
.tienda h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  margin-top: 15px;
  background-color: #900F0F;
  color: white; }

.d-none {
  background-color: #900F0F;
  border: black solid 2px;
  border-radius: 5px; }

.pie-de-pagina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #900f0f;
  background: linear-gradient(180deg, #900f0f 30%, black 84%);
  flex-wrap: wrap;
  transition: 2s; }
  .pie-de-pagina ul {
    margin: 5px;
    padding: 5px;
    font-family: 'Nunito', sans-serif; }
    .pie-de-pagina ul li a {
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      color: white; }
  .pie-de-pagina p {
    color: white;
    font-size: 18px;
    margin: 15px;
    text-align: center; }
  .pie-de-pagina div {
    padding: 5px; }
    .pie-de-pagina div img:hover {
      transform: scale(1.1);
      -webkit-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
      -moz-box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69);
      box-shadow: 17px 24px 12px -9px rgba(0, 0, 0, 0.69); }
    .pie-de-pagina div .face {
      background-color: white;
      border-radius: 12px; }

/*-------scss en media querys-------*/
@media screen and (max-width: 980px) {
  .imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 25px; }
    .imagen div img {
      height: 280px;
      width: 250px;
      margin-top: 10px; }
    .imagen div h3 {
      height: 50px;
      width: 250px;
      font-size: 20px; }
    .imagen p {
      width: 320px;
      height: 250px;
      font-size: 19px;
      margin: 10px 2px 0px 2px;
      padding: 0; }
  .productos-card {
    margin: 15px; }
  .hero h1 {
    font-size: 35px;
    text-align: center; }
  .hero h2 {
    text-align: center;
    font-size: 25px;
    color: black;
    background-color: #900F0F; }
  .hero p {
    text-align: center;
    font-size: 28px;
    margin-left: 35px;
    margin-right: 35px; }
  .bienvenidos h2 {
    text-align: center;
    font-size: 35px; }
  .bienvenidos p {
    text-align: center;
    font-size: 20px;
    margin: 10px 20px 10px 20px; }
  .unir {
    display: flex;
    flex-direction: column; }
  .navbar {
    background: #900F0F; } }

@media screen and (max-width: 550px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat 12, 30s0px; }
    .grid-container .grid-galeria {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 25px 0px 10px; }
      .grid-container .grid-galeria .item12 {
        margin-bottom: 25px; }
  .contacto .titulo img {
    width: 350px;
    height: 200px; }
  .unir .ubicacion {
    width: 340px;
    height: 500px; }
    .unir .ubicacion div iframe {
      width: 300px;
      height: 300px; }
  .pie-de-pagina {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .fixed {
    right: 15px;
    bottom: 150px; } }

@media screen and (max-width: 430px) {
  .hero h1 {
    font-size: 40px;
    text-align: center; }
  .hero h2 {
    font-size: 30px;
    margin: 0;
    margin-top: 10px; }
  .hero p {
    font-size: 25px;
    text-align: center;
    margin-top: 10px; }
  .productos h2 {
    text-align: center;
    font-size: 28px; } }
