.pie-de-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primario;
    flex-wrap: wrap;
    ul{
        margin: 5px;
        padding: 5px;
        font-family: 'Nunito', sans-serif ;
        li{
            a{
                font-family: 'Nunito', sans-serif ;
                font-size: 18px;
                color: $color-secundario;
            }
        }
    }
    p{
        color: $color-secundario;
        font-size: 18px;
        margin: 15px;
        text-align: center;
    }
    div{
        padding: 5px;
    }
}