.pie-de-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(144,15,15);
    background: linear-gradient(180deg, rgba(144,15,15,1) 30%, rgba(0,0,0,1) 84%);
    flex-wrap: wrap;
    transition: 2s;
    ul{
        margin: 5px;
        padding: 5px;
        font-family: 'Nunito', sans-serif ;
        li{
            a{
                font-family: 'Nunito', sans-serif ;
                font-size: 18px;
                color: $color-secundario;
            }
        }
    }
    p{
        color: $color-secundario;
        font-size: 18px;
        margin: 15px;
        text-align: center;
    }
    div{
        padding: 5px;
        img:hover{
            transform: scale(1.1);
            -webkit-box-shadow: 17px 24px 12px -9px rgba(0,0,0,0.69);
            -moz-box-shadow: 17px 24px 12px -9px rgba(0,0,0,0.69);
            box-shadow: 17px 24px 12px -9px rgba(0,0,0,0.69);
        }
        .face{
            background-color: white;
            border-radius: 12px;
        }
    }
}