.pie-de-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(144,15,15);
    background: linear-gradient(180deg, rgba(144,15,15,1) 30%, rgba(0,0,0,1) 84%);
    flex-wrap: wrap;
    transition: 2s;
    ul{
        margin: 5px;
        padding: 5px;
        font-family: 'Nunito', sans-serif ;
        li{
            a{
                font-family: 'Nunito', sans-serif ;
                font-size: 18px;
                color: $color-secundario;
            }
        }
    }
    p{
        color: $color-secundario;
        font-size: 18px;
        margin: 15px;
        text-align: center;
    }
    div{
        margin: 5px;
        .bi-instagram{
            &:hover{
                transform:scale(1.2);}
            margin: 5px;
            color: $color-secundario
        }
        .bi-facebook{
            &:hover{
                transform:scale(1.2);}
            margin: 5px;
            color: $color-secundario;
        }
        .bi-twitter{
            &:hover{
                transform:scale(1.2);}
            margin: 5px;
            color: $color-secundario;
        }
    }
}