/*------ scss en header------*/

.navbar{
    background-color: $color-primario;
    .container-fluid{
        .navbar-toggler{
            color: $color-secundario;
            background-color: $color-secundario;
            .navbar-toggler-icon{
            background-color: $color-secundario;
            }
        }
        .nav-link.active{
            color: $color-secundario;
            font-size: 23px;
            font-family: 'Nunito', sans-serif;
            margin-left: 15px;
            margin-right: 15px;
        }
        img{
        height: 200px;
        width: 200px;
        }
    }
}