/*-------scss en media querys-------*/

@media screen and (max-width:550px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (12, 30s0px);
        .grid-galeria{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 15px 25px 0px 10px;
            .item12{
                margin-bottom: 25px;
                }
            }
    }


    .pie-de-pagina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

    .fixed{
        right: 15px;
        bottom: 150px;
        }
    }

@media screen and (max-width:980px){
    .imagen{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top: 25px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 25px;
        div{
        img{
            height: 280px;
            width: 250px;
            margin-top: 10px;
            }
        h3{
            height: 50px;
            width: 250px;
            font-size: 20px;
            }
        }
        p{
            width: 320px;
            height: 250px;
            font-size: 19px;
            margin: 10px 2px 0px 2px;
            padding: 0;
            }
        }

.productos-card{
    margin: 15px;
    }

.hero{ 
    h2{
        text-align: center;
        font-size: 35px;
        color: black;
        background-color: #900F0F;
    }
    p{
        text-align: center;
        font-size: 28px;
        margin-left: 35px;
        margin-right: 35px;
        }
    }

.bienvenidos{
    h2{
        text-align: center;
        font-size: 35px;
        }
    
    p{
        text-align: center;
        font-size: 20px;
        margin: 10px 20px 10px 20px;
        }
    }
}
@media screen and (max-width:430px){
    .hero{
        text-align: center;
        /*background-image: url(../img/foto-galeria\ \(3\).jpg);*/
        font-size: 25px;
        }
    
    .productos h2{
        text-align: center;
        font-size: 28px;
        }
    }
